@use "global" as *;

.c-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: myrem(13);
  font-size: myrem(13.92);
  font-weight: bold;
  color: $white;
  background-color: $orange;
  border: 3px solid $white;
  border-radius: myrem(40);
  @include mq(md) {
    column-gap: myrem(9);
    font-size: myrem(20);
  }
}

.c-button::after {
  content: "▶︎";
  padding-left: myrem(3);
  width: myrem(14);
  height: myrem(14);
  font-size: myrem(10);
  display: flex;
  align-items: center;
  background-color: $white;
  border-radius: 50%;
  color: $orange;
  @include mq(md) {
    padding-left: myrem(6);
    width: myrem(21);
    height: myrem(21);
    font-size: myrem(11);
  }
}

// 予約ボタン(画像入り)
.c-button--cta1 {
  padding: myrem(9) 0 myrem(10);
  justify-content: center;
  column-gap: myrem(2);
  flex-wrap: wrap;
  font-size: myrem(11.05);
  border-radius: myrem(10);
  box-shadow: -0.157px 3px 20px 1px rgba(4, 0, 0, 0.25);
  @include mq(md) {
    padding: myrem(23) 0 myrem(21);
    font-size: myrem(20);
    column-gap: myrem(5);
    row-gap: myrem(4);
  }
}

.c-button--cta1 img {
  width: myrem(43);
  aspect-ratio: 43.5/44;
  @include mq(md) {
    width: myrem(80);
    aspect-ratio: 80/81;
  }
}

.c-button--cta1::after {
  padding-left: myrem(4);
  width: myrem(13);
  height: myrem(13);
  font-size: myrem(8);
  @include mq(md) {
    padding-left: myrem(7);
    width: myrem(20);
    height: myrem(20);
    font-size: myrem(11);
  }
}

.c-button--cta2 {
  padding: myrem(9) 0 myrem(9);
  @include mq(md) {
    padding: myrem(11) 0 myrem(11);
  }
}

// 黒ボタン(無料セミナー)
.c-button--black {
  padding: myrem(15) 0 myrem(16);
  column-gap: myrem(4);
  font-size: myrem(14);
  letter-spacing: myrem(0.4);
  text-align: center;
  background-color: $black;
  border-radius: myrem(10);
  @include mq(md) {
    padding: myrem(20) 0 myrem(19);
    column-gap: myrem(11);
    font-size: myrem(22);
    letter-spacing: myrem(0.7);
  }
}

.c-button--black::after {
  padding-left: myrem(3);
  width: myrem(12);
  font-size: myrem(8);
  color: $black;
  @include mq(md) {
    padding-left: myrem(5);
    width: myrem(21);
    font-size: myrem(12);
  }
}

// 青ボタン
.c-button--blue {
  padding: myrem(11) 0 myrem(11);
  justify-content: center;
  font-size: myrem(16);
  text-align: center;
  background-color: $blue2;
  border: none;
  border-radius: myrem(45);

  @include mq(md) {
    padding: myrem(7) 0 myrem(10);
  }
}

.c-button--blue::after {
  display: none;
}

// 黒ボタン
.c-button--black2 {
  padding: myrem(11) 0 myrem(11) myrem(11);
  justify-content: center;
  font-size: myrem(16);
  letter-spacing: myrem(13);
  background-color: $black;
  border: none;
  border-radius: myrem(45);

  @include mq(md) {
    padding: myrem(8) 0 myrem(9) myrem(11);
  }
}

.c-button--black2::after {
  display: none;
}

// 問い合わせフォームボタン
.c-button--blue2 {
  padding: myrem(15) 0 myrem(15);
  justify-content: center;
  font-size: myrem(16);
  background-color: $blue2;
  border: none;
  border-radius: 0;
  @include mq(md) {
    padding: myrem(23) 0 myrem(21);
    font-size: myrem(18);
  }
}

.c-button--blue2::after {
  display: none;
}
