@use "global" as *;

.p-cta__button1 {
  width: myrem(104);
  position: fixed;
  top: myrem(395);
  right: 1%;
  z-index: 98;
  @include mq(md) {
    width: myrem(202);
    top: myrem(466);
    right: 1.5%;
  }
}

.p-cta__button2 {
  width: myrem(150);
  display: none;
  position: fixed;
  top: myrem(63);
  right: 3%;
  z-index: 80;
  @include mq(md) {
    width: myrem(230);
    top: myrem(90);
    right: 1.4%;
  }
}
