@use "global" as *;

.p-reason {
  background-color: rgba(214, 227, 1241, 0.4);
}

.p-reason__title {
  @include mq(md) {
    padding-left: myrem(12);
  }
}

.p-reason__wrapper {
  margin-top: myrem(14);
  @include mq(md) {
    margin-top: myrem(37);
  }
}

.p-reason__list {
  counter-reset: number 0;
  display: grid;
  row-gap: myrem(23);
  @include mq(md) {
    row-gap: myrem(58);
  }
}

.p-reason__item {
  @include mq(md) {
    margin: 0 auto;
    max-width: myrem(1400);
    width: 100%;
  }
}

.p-reason__item-title {
  display: flex;
  align-items: flex-start;
  column-gap: myrem(12);
  font-size: myrem(22);
  font-weight: bold;
  @include mq(md) {
    align-items: center;
    column-gap: myrem(33);
    font-size: myrem(24);
    letter-spacing: myrem(0.6);
    line-height: 1.3;
  }
}

.p-reason__item-title::before {
  counter-increment: number 1;
  content: counter(number, decimal-leading-zero) "";
  margin-top: myrem(-10);
  font-family: $font-lato;
  font-size: myrem(50);
  font-weight: bold;
  color: $blue4;
  @include mq(md) {
    font-size: myrem(64.09);
  }
}

.p-reason__item:nth-child(even) .p-reason__item-title {
  column-gap: myrem(20);
}

.p-reason__item-title-desktop {
  display: none;
  @include mq(md) {
    display: flex;
  }
}

.p-reason__item-content {
  padding: myrem(26) myrem(15) myrem(120);
  max-width: myrem(730);
  width: calc(692 / 750 * 100%);
  background-color: $white;
  @include mq(md) {
    padding: myrem(25) 13% myrem(25) 16%;
    max-width: myrem(1400);
    width: calc(1000 / 1400 * 100%);
  }
}

.p-reason__item:nth-child(even) .p-reason__item-content {
  margin-left: auto;
  @include mq(md) {
    padding: myrem(27) 16% myrem(30) 14%;
  }
}

.p-reason__item-bottom {
  padding-top: myrem(6);
  font-size: myrem(16);
  letter-spacing: myrem(-0.5);
  line-height: 1.6;
  @include mq(md) {
    padding-top: myrem(18);
  }
}

.p-reason__image {
  margin-top: myrem(-97);
  margin-left: myrem(35);
  width: myrem(325);
  box-shadow: -0.157px 3px 20px 1px rgba(0, 0, 0, 0.25);
  @include mq(md) {
    margin-top: myrem(-209);
    margin-left: 60%;
    width: myrem(360);
  }
}

.p-reason__item:nth-child(even) .p-reason__image {
  margin-right: myrem(33);
  margin-left: auto;
  @include mq(md) {
    margin-right: 60%;
  }
}

.p-reason__image img {
  aspect-ratio: 360/260;
}
